{%extends './layouts/layout_admin.html' %}
{%block subtitle%}Nuevo curso{%endblock%}


{%block right%}
	<div class="container col-lg-6 col-md-8 col-sm-10">
	
		<div class="row m-5">
			<h1 class="col p-3 text-uppercase text-center">Nuevo curso</h1>
		</div>
		<form action="" class="form" action="" method="POST" novalidate>
			<div class="row mb-3">
				<div class="col-4">{{ form.name_course.label }}</div>
				<div class="col-8">
					{{ form.name_course(class="form-control")}}
					{% for errors in form.errors.name_course %}
						<div class="badge bg-danger">{{errors}}</div>
					{% endfor %}
				</div>
			</div>
			<div class="row mb-3">
				<div class="col-4">{{ form.professor_course.label}}</div>
				<div class="col-8">
					{{ form.professor_course(class="form-control") }}
					{% for errors in form.errors.professor_course %}
						<div class="badge bg-danger">{{errors}}</div>
					{% endfor %}
				</div>
			</div>
			<div class="row mb-3">
				<div class="col-4">{{ form.description_course.label}}</div>
				<div class="col-8">
					{{ form.description_course(class="form-control") }}
					{% for errors in form.errors.description_course %}
						<div class="badge bg-danger">{{errors}}</div>
					{% endfor %}
				</div>
			</div>
			<div class="row mb-3">
				<div class="col-4">{{ form.schedule_course.label }}</div>
				<div class="col-8">
					{{ form.schedule_course(class="form-control") }}
					{% for errors in form.errors.schedule_course %}
						<div class="badge bg-danger">{{errors}}</div>
					{% endfor %}
				</div>
			</div>
			<div class="row mb-5">
				<div class="col-4">{{ form.max_students_course.label }}</div>
				<div class="col-8">
					{{ form.max_students_course(class="form-control") }}
					{% for errors in form.errors.max_students_course %}
						<div class="badge bg-danger">{{errors}}</div>
					{% endfor %}
				</div>
			</div>

			<div class="d-flex justify-content-end">
				{{ form.submit(class="btn btn-primary") }}
			</div>
		</form>
	</div>
	<!-- {% for field, errors in form.errors.items() %}
		<div class="alert alert-danger">
		{% autoescape false %}
			{{("<br/>").join(errors)}}
		{% endautoescape %}
		</div>
	{% endfor %} -->
{%endblock%}
