{%extends './layouts/layout_admin.html' %}
{%block subtitle%}Nuevo curso{%endblock%}


{%block right%}
<div class="container col-lg-6 col-md-8 col-sm-10">
	<div class="row m-5">
		<h1 class="col p-3 text-uppercase text-center">Nueva actividad</h1>
	</div>
	<form action="" class="form" action="" method="POST" novalidate>
		{{ form.csrf_token() }}
		<div class="row mb-3">
			<div class="col-4">{{ form.activity_name.label }}</div>
			<div class="col-8">
				{{ form.activity_name(class="form-control")}}
				{% for errors in form.errors.activity_name %}
				<div class="badge bg-danger">{{errors}}</div>
				{% endfor %}
			</div>
		</div>
		<div class="row mb-3">
			<div class="col-4">{{ form.activity_course.label}}</div>
			<div class="col-8">
				{{ form.activity_course(class="form-control") }}
				{% for errors in form.errors.activity_course %}
				<div class="badge bg-danger">{{errors}}</div>
				{% endfor %}
			</div>
		</div>
		<div class="row mb-3">
			<div class="col-4">{{ form.activity_description.label }}</div>
			<div class="col-8">
				{{ form.activity_description(class="form-control") }}
				{% for errors in form.errors.activity_description %}
				<div class="badge bg-danger">{{errors}}</div>
				{% endfor %}
			</div>
		</div>
		<div class="row mb-3">
			<div class="col-4">{{ form.activity_deadline.label }}</div>
			<div class="col-8">
				{{ form.activity_deadline(class="form-control") }}
				{% for errors in form.errors.activity_deadline %}
				<div class="badge bg-danger">{{errors}}</div>
				{% endfor %}
			</div>
		</div>
		<div class="row mb-3">
			<div class="col-4">{{ form.activity_note.label }}</div>
			<div class="col-8">
				{{ form.activity_note(class="form-control") }}
				{% for errors in form.errors.activity_note %}
				<div class="badge bg-danger">{{errors}}</div>
				{% endfor %}
			</div>
		</div>
		<div class="d-flex justify-content-end">
			{{ form.submit(class="btn btn-primary") }}
		</div>
	</form>
</div>
{%endblock%}
