<!--
	extiende del Layout a emplear  desde la carpeta layouts
-->
{%extends './layouts/layout_base.html' %}
{%block title %}AGN{% endblock %}
<!--
	Ingresar el contenido segun los bloques
	definidos dentro del layouttt escogido
-->
{%block content %}
	<div class="row">
		<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
			<div class="card border-0 shadow rounded-3 my-5">
				<div class="card-body p-4 p-sm-5">
					<h5 class="card-title text-center mb-5 fw-light fs-5">Remember password</h5>
					<form action="/" method="POST" novalidate>
						{{ form.hidden_tag() }}
						<div class="form-floating mb-3">
							{{ form.email(size=30) }}
							<label for="floatingInput">{{ form.email.label }}</label>
						</div>
						<div class="d-grid d-flex justify-content-md-end">
							{{ form.submit() }}
						</div>
					</form>
				</div>
			</div>
		</div>
		</div>
	</div>
{% endblock%}
