{%extends './layouts/layout_admin.html' %} {%block subtitle%}Home{%endblock%}
{%block right%}
<div
	class="row row-cols-sm-1 row-cols-md-3 mt-4 mb-4 d-flex justify-content-end">
	{{
		render_partial( './components/component_tile.html',
		cards=[
		{ "label":"Estudiantes", "class": "flex-fill m-2","link":"/admin/users/role/students",
		"number":info_cards.estudiantes, "icon":"users"},
		{ "label":"Profesores", "class": "flex-fill m-2","link":"/admin/users/role/professors",
		"number":info_cards.profesores, "icon":"chalkboard-teacher"},
		{ "label":"Cursos", "class": "flex-fill m-2","link":"/admin/courses",
		"number":info_cards.cursos, "icon":"book-open"},
			{ "label":"Actividades", "class": "flex-fill m-2","link":"/admin/activities",
			"number":info_cards.actividades, "icon":"layer-group"}
			]
		)
	}}
</div>

{%endblock%}
