{%extends './layouts/layout_admin.html' %}
{%block subtitle%}Users{%endblock%}

{%block right%}
	<div class="row row-cols-5 mt-4 mb-4 d-flex justify-content-end">
		{{
			render_partial(
				'./components/component_tile.html',
				cards=[
					{"label":"Estudiantes","link":"/admin/users/role/students", "number": table.count_students , "icon":"user", "info":""},
					{"label":"Profesores","link":"/admin/users/role/professors", "number": table.count_professors, "icon":"user", "info":""}
				]
			)
		}}
	</div>
	<div class="row h1 p-2">Usuarios registrados</div>
	<div class="row p-2">
		<a href="/users/new" class="btn btn-primary col-3">Nuevo usuario</a>
	</div>
	<div class="row p-2">
		{{ render_partial('./components/component_table.html', data = table) }}
	</div>
{%endblock%}

