{%extends './layouts/layout_admin.html' %}
{%block subtitle%}Home{%endblock%}
{%block right%}
<div class="row">
	{{ render_partial(
	'./components/component_tile.html',
	cards=[
			{"label":"Cursos", "class": "col", "number":"40", "icon":"book"},
			{"label":"Profesores", "class": "col", "number":"12", "icon":"user"},
			{"label":"Estudiantes", "class": "col", "number":"100", "icon":"user"},
			{"label":"Actividades", "class": "col", "number":"40", "icon":"hiking"}
		]
	) }}
</div>

{%endblock%}
