{%extends './layouts/layout_admin.html' %}
{%block subtitle%}Users{%endblock%}

{%block right%}
<div
	class="row row-cols-1 row-cols-sm-2 row-cols-md-3 mt-4 mb-4 d-flex
	justify-content-end">
	{{
			render_partial(
				'./components/component_tile.html',
				cards=[
				{
					"label":"Estudiantes",
					"link":"/admin/users/role/students",
					"number": table.count_students ,
					"icon":"account-group",
					"class":"g-3 view-%s" % table.count_students,
				},
				{
					"label":"Profesores",
					"link":"/admin/users/role/professors",
					"number": table.count_professors,
					"icon":"human-male-board",
					"class": "g-3 view-%s" % table.count_professors
				}
	]
	)
	}}
</div>
<div class="col d-flex mb-5 mt-5 justify-content-between align-items-center">
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	{% for message in messages %}
	<div
		class="alert alert-warning alert-dismissible fade show position-fixed top-0 start-0">
		<strong>{{message}}</strong>
		<button type="button" class="btn-close" data-bs-dismiss="alert"
			aria-label="Close"></button>
		</div>
		{% endfor %}
		{% endif %}
		{% endwith %}
		<a href="./users/new" class="btn btn-primary col-3 ">Nuevo usuario</a>
		<div class="row h1 p-2">Usuarios registrados</div>
</div>
<div class="row h-50 mh-50">
	{{ render_partial('./components/component_table.html', data = table) }}
</div>
<style>
.view-0 {
	display: none;
}
</style>
{%endblock%}
