{%extends './layouts/layout_admin.html' %}
{%block subtitle%}Users{%endblock%}

{%block right%}
	<div class="row d-flex justify-content-end gap-3 ms-auto">
		{{
			render_partial(
				'./components/component_tile.html',
				cards=[
					{"label":"Usuarios", "number":"125", "icon":"user", "info":""}
				]
			)
		}}
	</div>
	<div class="row h1 p-2">Usuarios registrados</div>
	<div class="row p-2">
		<a href="/users/new" class="btn btn-primary col-3">Nuevo usuario</a>
	</div>
	<div class="row p-2">
		{{ render_partial('./components/component_table.html', data = table) }}
	</div>
{%endblock%}

