{%extends './layouts/layout_admin.html' %}
{%block subtitle%}Activities{%endblock%}


{%block right%}
	<div class="row row-cols-5 mt-4 mb-4 d-flex justify-content-end">
		{{
			render_partial(
				'./components/component_tile.html',
				cards=[
					{"label":"Actividades", "number":table.count_activities, "icon":"hiking", "info":""}
				]
			)
		}}
	</div>
	<div class="row h1 p-2">Actividades registradas</div>
	<div class="row p-2">
		<a href="activities/new" class="btn btn-primary col-3">Nueva actividad</a>
	</div>
	<div class="row p-2">
		{{ render_partial('./components/component_table.html', data = table) }}
	</div>
{%endblock%}

