{%extends './layouts/layout_admin.html' %}
{%block subtitle%}Activities{%endblock%}


{%block right%}
<div class="row row-cols-5 mt-4 mb-4 d-flex justify-content-end">
	{{
			render_partial(
				'./components/component_tile.html',
				cards=[
					{"label":"Actividades", "number":table.count_activities, "icon":"hiking", "info":""}
				]
			)
		}}
</div>
<div class="row h1 p-2">Actividades registradas</div>
<div class="row p-2">
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	{% for message in messages %}
	<div
		class="alert alert-warning alert-dismissible fade show position-fixed top-0 start-0">
		<strong>{{message}}</strong>
		<button type="button" class="btn-close" data-bs-dismiss="alert"
			aria-label="Close"></button>
	</div>
	{% endfor %}
	{% endif %}
	{% endwith %}
	<a href="activities/new" class="btn btn-primary col-3">Nueva actividad</a>
</div>
<div class="row p-2">
	{{ render_partial('./components/component_table.html', data = table) }}
</div>
{%endblock%}
