{% for card in cards %}
	<a href="{{card.link}}" class="card bg-light p-4 ms-2 me-2 border-0 {{card.class}}">
		<div class="d-flex flex-row align-items-center">
			<div class="d-flex justify-content-center">
				<i class="fas fa-{{card.icon}} fa-6x text-dark"></i>
			</div>
			<div class="card-body d-flex flex-column justify-content-center flex-fill">
				<h5 class="card-title text-end m-0">{{card.label}}</h5>
				<p class="card-text h1 text-end m-0">{{card.number}}</p>
				<p class="card-text"><small class="text-muted">{{card.info}}</small></p>
			</div>
		</div>
	</a>
	<style>
		a.card {
			text-decoration:none;
			cursor:pointer;
		}
	</style>
{% endfor %}
