<div class="table-responsive h-auto">
	<table class="table align-middle table-dark table-hover table-striped table-bordered view--table">
		<thead class="text-uppercase table-light">
			<tr >
				{% for t in data["titles"] %}
					<th class="text-center vertical-align ">{{ t }} </th>
				{% endfor %}
			</tr>
		</thead>
		<tbody class="view--table"" >
			{% for row in data["rows"] %}
				<tr class="h-auto">
					{% for cell in row %}
						<td class="text-center">{{ cell }}</td>
					{% endfor %}
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
<style>
	.view--table{
		height:100%;
		overflow-y: auto;
	}
</style>
