<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>{%block title %} {% endblock %}</title>
	<link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='3dparty/fontawesome/css/all.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='css/app.css')}}">
	<script src="{{url_for('static', filename='js/bootstrap.min.js')}}" ></script>
	{%block meta %} {% endblock %}
	{%block style %} {% endblock %}
	{%block script %} {% endblock %}
</head>

<body class="">
	<header>
		{%block header %}{%endblock %}
	</header>
	<main class="d-flex flex-column flex-fill">
		{%block content %} {%endblock %}
	</main>
	<footer>
		{%block footer%} {%endblock %}
	</footer>
</body>

</html>
