<!DOCTYPE html>
<html lang="en">

<head  class="bg-dark">
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>{%block title %} {% endblock %}</title>
	{%block meta %} {% endblock %}
	<!-- <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}"> -->
	<!-- <link rel="stylesheet" href="{{url_for('static', filename='css/colors.min.css')}}"> -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.1.1/dist/vapor/bootstrap.min.css">
	<link rel="stylesheet" href="{{url_for('static', filename='3dparty/fontawesome/css/all.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='css/app.css')}}">
	<script src="{{url_for('static', filename='js/bootstrap.min.js')}}" ></script>
	{%block style %} {% endblock %}
</head>

<body  class="bg-dark">
	<header>
		{%block header %}{%endblock %}
	</header>
	<main class="d-flex flex-column flex-fill vh-100 bg-dark">
		{%block content %} {%endblock %}
	</main>
	<footer>
		{%block footer%} {%endblock %}
	</footer>
	{%block script %} {% endblock %}
</body>

</html>
